<h2 id='toggleExperiences'><span id='experienceButton'></span>Expériences </h2>

<div id='experiences'>
	<% @experiences.each do |experience| %>
	<h3><%= experience.title %> </h3>
 
	<p class="place"><%= experience.date.year %> <% if not (experience.date.nil? ||  experience.place.nil?) %> - <% end %> <%= experience.place %></p>
	<p><%= experience.notes %></p>
	<% if experience.tags.size > 0 %> <p>tags: <% experience.tags.each do |t| %> <%= t.label + " " %> <% end %> </p> <% end %>
	<% end %>
</div>
